[tmc5160 stepper_x]
cs_pin: PF13
spi_software_sclk_pin: PA5
spi_software_mosi_pin: PA7
spi_software_miso_pin: PA6
sense_resistor: 0.022
run_current: 1.000

[tmc5160 stepper_y]
cs_pin: PC10
spi_software_sclk_pin: PA5
spi_software_mosi_pin: PA7
spi_software_miso_pin: PA6
sense_resistor: 0.022
run_current: 1.000

[tmc2209 stepper_z]
uart_pin: PD4
run_current: 1.0
#stealthchop_threshold: 999999
interpolate: True

[tmc2209 extruder]
uart_pin: can0:EXT_UART
run_current: 0.800
hold_current: 0.100
#stealthchop_threshold: 999999
interpolate: True